:root {
    --pomodoro-color: #ba4949;
    --short-break-color: #38858a;
    --long-break-color: #397097;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background: var(--pomodoro-color);
    color: white;
    transition: background-color 0.3s ease-in-out;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.container {
    max-width: 640px;
    margin: 0 auto;
}

.short-break {
    background: var(--short-break-color);
}

.long-break {
    background: var(--long-break-color);
}

.hidden {
    display: none;
}

.pomodoro {
    background: rgba(255, 255, 255, 0.2);
    margin: 50px 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
}

.pomodoro h2 {
    font-size: 24px;
}

.pomodoro .timer {
    font-size: 10rem;
}

.pomodoro button {
    cursor: pointer;
    border: none;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    color: var(--pomodoro-color);
    font-weight: bold;
    width: 200px;
    background-color: white;
    transition: color 0.5s ease-in-out 0s;
}

.pomodoro button:active,
.pomodoro button.active {
    transform: translateY(6px);
    box-shadow: none;
}

.short-break .pomodoro button {
    color: var(--short-break-color);
}

.long-break .pomodoro button {
    color: var(--long-break-color);
}

.pomodoro .details {
    text-align-last: left;
    margin: 20px 0;
}
